.list-container {
    width: 300px;
    margin: 0 auto;
    input[type='text'] {
        padding: 5px 8px;
        margin-bottom: 10px;
    }
  ol {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      .check {
        margin-right: 5px;
      }
    }
  }
}
